.filter-modal__content {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.filter-modal__footer-actions {
  display: flex;
  gap: 10px;
  padding: 8px 12px;
}

.filter-modal__btn {
  flex: 1;
  font-weight: 700;
}
