/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #889eb6;
  --ion-color-primary-rgb: 136, 158, 182;
  --ion-color-primary-contrast: #010c17;
  --ion-color-primary-contrast-rgb: 1, 12, 23;
  --ion-color-primary-shade: #7a8ea3;
  --ion-color-primary-tint: #9aa7bd;

  /** secondary **/
  --ion-color-secondary: #123d64;
  --ion-color-secondary-rgb: 18, 61, 100;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #103552;
  --ion-color-secondary-tint: #295480;

  /** tertiary **/
  --ion-color-tertiary: #fefefe;
  --ion-color-tertiary-rgb: 254, 254, 254;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e6e6e6;
  --ion-color-tertiary-tint: #ffffff;

  /** success **/
  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  /** warning **/
  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  /** danger **/
  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  /** dark **/
  --ion-color-dark: #010c17;
  --ion-color-dark-rgb: 1, 12, 23;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #030f1a;
  --ion-color-dark-tint: #162738;

  /** medium **/
  --ion-color-medium: #989eb6;
  --ion-color-medium-rgb: 152, 158, 182;
  --ion-color-medium-contrast: #010c17;
  --ion-color-medium-contrast-rgb: 1, 12, 23;
  --ion-color-medium-shade: #868c9a;
  --ion-color-medium-tint: #a4acb8;

  /** light **/
  --ion-color-light: #fefefe;
  --ion-color-light-rgb: 254, 254, 254;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e6e6e6;
  --ion-color-light-tint: #ffffff;


}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    /** primary **/
    --ion-color-primary: #010c17;
    --ion-color-primary-rgb: 136, 158, 182;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #7a8ea3;
    --ion-color-primary-tint: #9aa7bd;

    /** secondary **/
    --ion-color-secondary: #dfe5ec;
    --ion-color-secondary-rgb: 223, 229, 236;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #c8ced5;
    --ion-color-secondary-tint: #e7edf3;

    /** tertiary **/
    --ion-color-tertiary: #123d64;
    --ion-color-tertiary-rgb: 18, 61, 100;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #103552;
    --ion-color-tertiary-tint: #295480;

    /** success **/
    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    /** warning **/
    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    /** danger **/
    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    /** dark **/
    --ion-color-dark: #fefefe;
    --ion-color-dark-rgb: 254, 254, 254;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #e6e6e6;
    --ion-color-dark-tint: #ffffff;

    /** medium **/
    --ion-color-medium: #989eb6;
    --ion-color-medium-rgb: 152, 158, 182;
    --ion-color-medium-contrast: #e6e6e6;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #868c9a;
    --ion-color-medium-tint: #a4acb8;

    /** light **/
    --ion-color-light: #fefefe;
    --ion-color-light-rgb: 254, 254, 254;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e6e6e6;
    --ion-color-light-tint: #ffffff;


  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #123d64;
    --ion-background-color-rgb: 18, 61, 100;

    --ion-text-color: #fefefe;
    --ion-text-color-rgb: 254, 254, 254;

    --ion-color-step-50: #123d64;
    --ion-color-step-100: #889eb6;
    --ion-color-step-150: #fefefe;
    --ion-color-step-200: #fefefe;
    --ion-color-step-250: #fefefe;
    --ion-color-step-300: #fefefe;
    --ion-color-step-350: #fefefe;
    --ion-color-step-400: #fefefe;
    --ion-color-step-450: #fefefe;
    --ion-color-step-500: #fefefe;
    --ion-color-step-550: #fefefe;
    --ion-color-step-600: #fefefe;
    --ion-color-step-650: #fefefe;
    --ion-color-step-700: #fefefe;
    --ion-color-step-750: #fefefe;
    --ion-color-step-800: #fefefe;
    --ion-color-step-850: #fefefe;
    --ion-color-step-900: #fefefe;
    --ion-color-step-950: #fefefe;

    --ion-item-background: #889eb6;

    --ion-card-background: #040e18;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-50);
    --ion-toolbar-border-color: var(--ion-color-step-300);
  }




  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
  .md body {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-border-color: #666666;

    --ion-color-step-50: #333333;
    --ion-color-step-100: #3f3f3f;
    --ion-color-step-150: #4b4b4b;
    --ion-color-step-200: #575757;
    --ion-color-step-250: #636363;
    --ion-color-step-300: #6f6f6f;
    --ion-color-step-350: #7b7b7b;
    --ion-color-step-400: #878787;
    --ion-color-step-450: #939393;
    --ion-color-step-500: #9f9f9f;
    --ion-color-step-550: #ababab;
    --ion-color-step-600: #b7b7b7;
    --ion-color-step-650: #c3c3c3;
    --ion-color-step-700: #cfcfcf;
    --ion-color-step-750: #dbdbdb;
    --ion-color-step-800: #e7e7e7;
    --ion-color-step-850: #f3f3f3;
    --ion-color-step-900: #ffffff;
    --ion-color-step-950: #ffffff;

    --ion-item-background: #333333;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

html {
  /* For more information on dynamic font scaling, visit the documentation: 
  https://ionicframework.com/docs/layout/dynamic-font-scaling */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}